{% extends "base.html" %}
{% block content %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Здесь Вы можете сгенерировать сколь угодной паролей любой длины</h4>
    <hr>
    <p>Ввведите необходимые настройки и нажмите на зеленую кнопку :)</p>
</div>
<form action="" , method="post">
    {{ password_object.hidden_tag() }}
    <div class="form-group row">
        {{ password_object.length.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ password_object.length(class="form-control") }}
        </div>
        {{ password_object.count.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
        {{ password_object.count(class="form-control") }}
        </div>
    </div>
<!--    <button type="submit" class="btn btn-success mb-5" data-toggle="modal" data-target="#passwords">Сгенерировать</button>-->
{{ password_object.submit(class="btn btn-success mb-5") }}
</form>

<div class="modal fade" id="passwords" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Ваши пароли</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for elem in passwords %}
                <h4> {{ elem }} </h4>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <!--        <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<script>
    let
</script>
{% endblock content %}


